<script>
    // Control of new images when adding blog articles
    $('#div_id_image_credit').css('display', 'none');
    $('.btn-file').children('input').addClass('new-image');
    $('.new-image').change(function() {
        let file = $('.new-image')[0].files[0];
        $('#filename').text(`Image will be set to ${file.name}`);
        $('#div_id_image_credit').css('display', 'block');
        $('label[for="id_image_credit"]').text('Image Credit*');
        $('input[name="image_credit"]').prop('required', true);
    });
</script>