{% extends "base.html" %}
{% load static %}

{% block extra_title %}
 | Home
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container content mb-3">
        <div class="row">
            <div class="col-12 col-md-6 my-auto text-white">
                <h1 class="d-lg-none my-0 body-site-title"><strong>Recipes</strong><i>and</i><strong>Deliveries</strong></h1>
                <br>
                <h2 class="display-4 logo-font slogan">
                    Your <br>Recipes and Deliveries Guarantee
                </h2>
                <div class="my-5">
                    <h3 class="font-weight-bold"><i class="fas fa-tractor text-green"></i> Track and Trace</h3>
                    <p>All <strong>Recipes</strong><i>and</i><strong>Deliveries</strong> products are fully traceable, 
                        from Red Tractor certified suppliers for meat and vegetables to Marine Stewardship Council suppliers for fish.</p>

                    <h3 class="font-weight-bold"><i class="fas fa-temperature-low text-green"></i> Cold Chain</h3>
                    <p>All <strong>Recipes</strong><i>and</i><strong>Deliveries</strong> Recipe Kits are delivered 
                        with Heat Sensitive labels, so you can immediately see that the cold chain has been respected. It's why we ask you to 
                        open your delivery when you receive it: If the sticker shows that the cold chain has been broken, simply reject the delivery!</p>

                    <h3 class="font-weight-bold"><i class="fas fa-store text-green"></i> Suppliers</h3>
                    <p>Where possible, only local suppliers are used, for <strong>Recipes</strong><i>and</i><strong>Deliveries</strong> Recipe Kits, 
                        from Red Tractor certified fresh produce to locally grown herbs.</p>

                    <h3 class="font-weight-bold"><i class="fas fa-recycle text-green"></i> Environment</h3>
                    <p>Local produce means less resources are used, thus protecting both our economy and our environment.
                        <strong>Recipes</strong><i>and</i><strong>Deliveries</strong> takes its environmental responisibility seriously.</p>

                    <h3 class="font-weight-bold"><i class="fas fa-box text-green"></i> Packaging</h3>
                    <p>Where possible, all <strong>Recipes</strong><i>and</i><strong>Deliveries</strong> Recipe Kits packaging is recyclable.
                        Where cool boxes or freezer boxes are used, you are asked to pay a minimal deposit on the box: When you return the box for re-use, your deposit is returned,
                        thus ensuring less plastic is used. This deposit is included in your first order.</p>
                        
                    <h3 class="font-weight-bold"><i class="fas fa-shipping-fast text-green"></i> Delivery</h3>
                    <p>All deliveries within 24 hours, guaranteed.</p>
                    <br>
                    <h4>
                        <a href="" class="shop-now-button btn mb-3"><strong>Read Me!</strong></a>
                        <a href="{% url 'products' %}" class="shop-now-button btn mb-3 float-right"><strong>Feed Me!</strong></a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Photo by James Cheney from Pexels https://www.pexels.com/photo/yellow-farm-tractor-2575135/
    $('body').css('background-image', 'url(https://recipe-and-deliveries.s3.eu-west-3.amazonaws.com/media/guarantee-overlay.jpg)');
</script>
{% endblock %}


