{% extends "base.html" %}
{% load static %}

{% block extra_title %}
 | Home
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container content mb-3">
        <div class="row">
            <div class="col-12 col-md-6 my-auto">
                <h1 class="d-lg-none my-0 body-site-title"><strong>Recipes</strong><i>and</i><strong>Deliveries</strong></h1>
                <br>
                <h2 class="display-4 logo-font slogan">
                    Your one-stop-shop for Recipes and Deliveries
                </h2>
                <p>You've found your new culinary home. Too busy to cook at home? Order our Recipe Boxes!</p>
                <p>Amateur chef? Share your creations and gain inspiration from others in the community.</p>
                <p>Find out more:</p>
                
                <p>
                    <button class="info-button btn btn-amber mb-3" type="button" data-toggle="collapse" data-target="#recipesCollapse" aria-expanded="false" aria-controls="recipesCollapse"><strong>Recipes</strong></button>
                    <button class="info-button btn btn-amber mb-3 float-right" type="button" data-toggle="collapse" data-target="#deliveriesCollapse" aria-expanded="false" aria-controls="deliveriesCollapse"><strong>Deliveries</strong></button>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse mb-3" id="recipesCollapse">
                            <div class="card collapse-card">
                                <h4 class="card-header">The <strong>Recipes</strong> Community</h4>
                                <div class="card-body">
                                    <h5 class="card-title">The Blog</h5>
                                    <p class="card-text"><i class="far fa-check-square text-green"></i> Write you own food articles</p>
                                    <p class="card-text"><i class="far fa-check-square text-green"></i> Comment and contribute to the community</p>
                                    <a href="{% url 'blog-articles' %}" class="btn btn-green">Go to the Blog</a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">The Recipes</h5>
                                    <p class="card-text"><i class="far fa-check-square text-green"></i> Add your own recipes</p>
                                    <p class="card-text"><i class="far fa-check-square text-green"></i> Upvote recipes</p>
                                    <p class="card-text"><i class="far fa-check-square text-green"></i> Earn credits when your recipe is ordered as a recipe box*</p>
                                    <a href="{% url 'all_recipes' %}" class="btn btn-green">Go to the Recipes</a>
                                    <br>
                                    <br>
                                    <p class="card-text small text-right">
                                        *Every month, the top upvoted community recipe is added as a recipe box, and can be ordered. 
                                        If your recipe is then ordered, you are issued with a credit. 
                                        That credit is applied when you order your next recipe boxes.
                                        Earn enough credits, and you could eat for free!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="collapse mb-3" id="deliveriesCollapse">
                            <div class="card collapse-card">
                                <h4 class="card-header">The <strong>Deliveries</strong> Service</h4>
                                <div class="card-body">
                                    <h5 class="card-title">Recipe Boxes</h5>
                                    <p class="card-text"><i class="far fa-check-square text-green"></i> Order from a growing collection of recipe boxes</p>
                                    <p class="card-text"><i class="far fa-check-square text-green"></i> Choose simply how many people you need to feed, we take care of the rest</p>
                                    <p class="card-text"><i class="far fa-check-square text-green"></i> Free delivery when you reach the threshold</p>
                                    <a href="{% url 'products' %}" class="btn btn-green">Go to the Recipe Box selection</a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">The <strong>Recipes</strong><i>and</i><strong>Deliveries</strong> Guarantee</h5>
                                    <p class="card-text"><i class="far fa-check-square text-green"></i> 100% recycled packaging</p>
                                    <p class="card-text"><i class="far fa-check-square text-green"></i> Cold chain guaranteed</p>
                                    <p class="card-text"><i class="far fa-check-square text-green"></i> Deliveries guaranteed within 24 hrs on your order</p>
                                    <p class="card-text text-right"> ... or your money back! <i class="fas fa-coins text-green"></i></p>
                                    <a href="{% url 'guarantee'%}" class="btn btn-green">Find out more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-5">
                    <h3>
                        <a href="{% url 'blog-home' %}" class="shop-now-button btn mb-3"><strong>Read Me!</strong></a>
                        <a href="{% url 'products' %}" class="shop-now-button btn mb-3 float-right"><strong>Feed Me!</strong></a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Bootstrap collapse
    $('#recipesCollapse').on('show.bs.collapse', function (e) {
        $('#deliveriesCollapse').collapse('hide');
    })
    $('#deliveriesCollapse').on('show.bs.collapse', function (e) {
        $('#recipesCollapse').collapse('hide');
    })
</script>
{% endblock %}

