{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/profile.css' %}">
{% endblock %}

{% block extra_title %}
 | Checkout
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container content">
    <div class="row">
        <div class="col">
            <br>
            <h2 class="font-weight-bold">My Profile</h2>
            <br>
            {{ profile }}
        </div>
    </div>
</div>
{% endblock %}