{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}
 | Checkout Success
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container content mb-2">
        <!-- Page title row -->
        <div class="row">
            <div class="col-12 col-md-4 col-lg-6 mt-3">
                <h2 class="font-weight-bold mb-4">Thank You</h2>
                <p class="text-black">Your order information is below.</p> 
                <p style="overflow-wrap: break-word;">A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            
                <div class="order-confirmation-wrapper p-2 border">
                    <!-- Order Info -->
                    <div class="row">
                        <div class="col">
                            <small>Order Info:</small>
                        </div>
                    </div>
                    <!-- Order Number -->
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="mb-0 font-weight-bold">Order Number</p>
                        </div>
                        <div class="col-12 col-lg-8 text-lg-right">
                            <p class="mb-0 wordbreak">{{ order.order_number }}</p>
                        </div>
                    </div>
                    <!-- Order Date -->
                    <div class="row">
                        <div class="col-12 col-lg-5">
                            <p class="mb-0 font-weight-bold">Order Date</p>
                        </div>
                        <div class="col-12 col-lg-7 text-lg-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <!-- Order details -->
                    <div class="row">
                        <div class="col">
                            <small>Order Details:</small>
                        </div>
                    </div>
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <p class="mb-0 font-weight-bold">{{ item.product.name }}</p>
                            {% if item.product.has_gluten %}
                            <p class="small mb-0">Dietary Requirement: <span class="text-green font-weight-bold">{{ item.diet_option|upper }}</span></p>
                            {% endif %}
                        </div>
                        <div class="col-12 col-lg-4 text-lg-right">
                            <p class=" small mb-0">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                    <hr>
                    <!-- Delivery details -->
                    <div class="row">
                        <div class="col">
                            <small>Delivering To:</small>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="mb-0 font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-lg-8 text-lg-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="mb-0 font-weight-bold">Address Line 1</p>
                        </div>
                        <div class="col-12 col-lg-8 text-lg-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    
                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="mb-0 font-weight-bold">Address Line 2</p>
                        </div>
                        <div class="col-12 col-lg-8 text-lg-right">
                            <p class="mb-0">{{ order.street_address2 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="mb-0 font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-lg-8 text-lg-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="mb-0 font-weight-bold">County</p>
                        </div>
                        <div class="col-12 col-lg-8 text-lg-right">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="mb-0 font-weight-bold">Post Code</p>
                        </div>
                        <div class="col-12 col-lg-8 text-lg-right">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="mb-0 font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-lg-8 text-lg-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="mb-0 font-weight-bold">Phone Number:</p>
                        </div>
                        <div class="col-12 col-lg-8 text-lg-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <!-- Billing details -->
                    <div class="row">
                        <div class="col">
                            <small>Billing Info:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="mb-0 font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-12 col-lg-8 text-lg-right">
                            <p class="mb-0">€{{ order.order_total }}</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="mb-0 font-weight-bold">Delivery</p>
                        </div>
                        <div class="col-12 col-lg-8 text-lg-right">
                            <p class="mb-0">€{{ order.delivery_cost }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="mb-0 font-weight-bold">Vote Discount</p>
                        </div>
                        <div class="col-12 col-lg-8 text-lg-right">
                            <p class="mb-0">€{{ order.vote_discount_applied }}</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <p class="mb-0 font-weight-bold">Grand Total</p>
                        </div>
                        <div class="col-12 col-lg-8 text-lg-right">
                            <p class="mb-0">€{{ order.grand_total }}</p>
                        </div>
                    </div>
                    <br>
                </div>
                {% if from_profile or request.user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="btn btn-amber my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-user"></i>
                        </span>
                        <span>Profile</span>
                    </a>
                    <a href="{% url 'blog-articles' %}" class="btn btn-green my-2">
                        <span class="icon mr-2">
                            <i class="far fa-newspaper"></i>
                        </span>
                        <span>Blog Articles</span>
                    </a>
                    <a href="{% url 'all_recipes' %}" class="btn btn-green my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-clipboard-list"></i>
                        </span>
                        <span>Recipes</span>
                    </a>
                {% else %}
                    <a href="{% url 'blog-home' %}" class="btn btn-green my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-users"></i>
                        </span>
                        <span>Discover the community!</span>
                    </a> 
                {% endif %}               
            </div>
        
            <!-- More Articles and Recipes -->
            <div class="col-12 col-md-8 col-lg-6 mt-3">
                <div class="row">
                    <div class="col-12 col-md-6 more-articles">
                        <h2 class="font-weight-bold mb-4 mt-5 mt-md-0">Articles</h2>
                        <p class="d-none d-md-block">The lastest Articles</p>
                        {% for post in posts|slice:"3" %}
                            <div class="col-12 p-0">
                                <div class="card h-100 border-0">
                                    <!-- Image -->
                                    {% if post.image %}
                                        <a href="{% url 'article' post.id %}">
                                            <img class="card-img-top img-fluid card-image" src="{{ post.image.url }}"
                                                alt="{{ post.title }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'article' post.id %}">
                                            <img class="card-img-top img-fluid card-image"
                                                src="{{ MEDIA_URL }}recipes-and-deliveries-banner.jpg" alt="{{ post.title }}">
                                        </a>
                                    {% endif %}    
                                    <!-- Post Title -->
                                    <div class="card-body pb-0">
                                        <h3 class="mb-0 font-weight-bold title-name">{{ post.title|title }}</h3>
                                    </div>
                                    <div class="card-footer bg-white pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                <!-- Tagline -->
                                                <p class="mb-0 text-left text-black tagline">{{ post.tagline }}</p>
                                                <!-- Categories -->
                                                {% if post.category %}
                                                    <p class="category-list small mt-1 mb-0"><i class="bi bi-tags text-muted mr-1"></i>
                                                        {% for cat in post.category.all %}
                                                        <a class="text-muted text-green font-weight-bold"
                                                            href="{% url 'blog-articles' %}?category={{ cat.name }}">
                                                            {{ cat.friendly_name|title }}
                                                        </a><span class="category-link-divider">|</span>
                                                        {% empty %}
                                                            <small class="text-muted">No categories</small>
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                                <!-- Tags -->
                                                {% if post.tag %}
                                                    <p class="tag-list small mt-1 mb-0"><i class="bi bi-tags-fill text-muted mr-1"></i>
                                                        {% for t in post.tag.all %}
                                                        <a class="text-muted text-amber font-weight-bold"
                                                            href="{% url 'blog-articles' %}?tag={{ t.tagname }}">
                                                            {{ t.tagname|title }}
                                                        </a><span class="tag-link-divider">|</span>
                                                        {% empty %}
                                                            <small class="text-muted">No tags</small>
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                                <!-- Post author -->
                                                {% if post.author.is_superuser %}
                                                    <small class="text-muted author">Posted by:
                                                        <a class="text-muted text-green"
                                                            href="{% url 'blog-articles' %}?author={{ post.author }}">
                                                            <strong>Recipes</strong><i>and</i><strong>Deliveries</strong>
                                                        </a>
                                                    </small>
                                                {% else %}
                                                    <small class="text-muted author">Posted by:
                                                        <a class="text-muted text-green font-weight-bold"
                                                            href="{% url 'blog-articles' %}?author={{ post.author }}">
                                                            {{ post.author }}
                                                        </a>
                                                    </small>
                                                {% endif %}
                                                <!-- Editing and deleting -->
                                                {% if request.user.is_superuser or request.user.id is post.author.id %}
                                                    <div class="edit-delete">
                                                        <small>
                                                            <!-- Superuser sees instantly whether superuser created post or whether post was user created
                                                            Superuser created posts = author edit color,
                                                            user created posts = primary color (matching color of product management) -->
                                                            <a {% if request.user.id is post.author.id %}class="text-amber"{% else %} class="text-primary"{% endif %} href="{% url 'edit_post' post.id %}">Edit</a> |
                                                            <a class="text-danger" href="{% url 'delete_post' post.id %}">Delete</a>
                                                        </small>
                                                    </div>
                                                {% endif %}
                                                <!-- Date posted -->
                                                <div class="post-date">
                                                    <small>{{ post.date_posted|date:"jS F, Y" }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 col-md-6">
                        <h2 class="font-weight-bold mb-4 mt-5 mt-md-0">Recipes</h2>
                        <p class="d-none d-md-block">The latest Recipes</p>
                        {% for recipe in recipes|slice:"3" %}
                            <div class="col-12 p-0">
                                <div class="card h-100 border-0">
                                    <!-- Image -->
                                    {% if recipe.image %}
                                        <a href="{% url 'recipe' recipe.id %}">
                                            <img class="card-img-top img-fluid card-image" src="{{ recipe.image.url }}"
                                                alt="{{ recipe.title }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'recipe' recipe.id %}">
                                            <img class="card-img-top img-fluid card-image"
                                                src="{{ MEDIA_URL }}recipes-and-deliveries-banner.jpg" alt="{{ recipe.title }}">
                                        </a>
                                    {% endif %}
                                    <!-- Recipe Title -->
                                    <div class="card-body pb-0">
                                        <h3 class="mb-0 font-weight-bold title-name">{{ recipe.title|title }}</h3>
                                    </div>
                                    <div class="card-footer bg-white pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                <!-- Tagline -->
                                                <p class="mb-0 text-left text-black tagline">{{ recipe.intro }}</p>
                                                <!-- Categories -->
                                                {% if recipe.category %}
                                                    <p class="category-list small mt-1 mb-0"><i class="bi bi-tags text-muted mr-1"></i>
                                                        {% for cat in recipe.category.all %}
                                                        <a class="text-muted text-green font-weight-bold"
                                                            href="{% url 'all_recipes' %}?category={{ cat.name }}">
                                                            {{ cat.friendly_name|title }}
                                                        </a><span class="category-link-divider">|</span>
                                                        {% empty %}
                                                            <small class="text-muted">No categories</small>
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                                <!-- Tags -->
                                                {% if recipe.tag %}
                                                    <p class="tag-list small mt-1 mb-0"><i class="bi bi-tags-fill text-muted mr-1"></i>
                                                        {% for t in recipe.tag.all %}
                                                        <a class="text-muted text-amber font-weight-bold"
                                                            href="{% url 'all_recipes' %}?tag={{ t.tagname }}">
                                                            {{ t.tagname|title }}
                                                        </a><span class="tag-link-divider">|</span>
                                                        {% empty %}
                                                            <small class="text-muted">No tags</small>
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                                <!-- Post author -->
                                                {% if recipe.author.is_superuser %}
                                                    <small class="text-muted author">Posted by:
                                                        <a class="text-muted text-green"
                                                            href="{% url 'all_recipes' %}?author={{ recipe.author }}">
                                                            <strong>Recipes</strong><i>and</i><strong>Deliveries</strong></a>
                                                    </small>
                                                {% else %}
                                                    <small class="text-muted author">Posted by:
                                                        <a class="text-muted text-green font-weight-bold"
                                                            href="{% url 'all_recipes' %}?author={{ recipe.author }}">
                                                            {{ recipe.author }}
                                                        </a>
                                                    </small>
                                                {% endif %}
                                                <!-- Editing and deleting -->
                                                {% if request.user.is_superuser or request.user.id is recipe.author.id %}
                                                    <div class="edit-delete">
                                                        <small>
                                                            <!-- Superuser sees instantly whether superuser created post or whether post was user created
                                                            Superuser created posts = author edit color,
                                                            user created posts = primary color (matching color of product management) -->
                                                            <a {% if request.user.id is recipe.author.id %}class="text-amber"{% else %} class="text-primary"{% endif %} href="{% url 'edit_recipe' recipe.id %}">Edit</a> |
                                                            <a class="text-danger" href="{% url 'delete_recipe' recipe.id %}">Delete</a>
                                                        </small>
                                                    </div>
                                                {% endif %}
                                                <!-- Date posted -->
                                                <div class="post-date">
                                                    <small>{{ recipe.date_posted|date:"jS F, Y" }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}