{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'recipes/css/recipes.css' %}">
{% endblock %}

{% block extra_title %}
 | Add a Recipe
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container content mb-2">
    <!-- Page title row -->
    <div class="row">
        <div class="col-12 mt-3">
            <h2 class="font-weight-bold">Add A New Recipe</h2>
            <br>
        </div>
    </div>
        
    <!-- Main page content -->
    <div class="row">
        <div class="col-12">
            <form id="main_form" method="POST" action="{% url 'add_recipe' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-3">
                        {{ recipe_form.title|as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ recipe_form.intro|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        {{ recipe_form.prep_time|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3">
                        {{ recipe_form.cook_time|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3">
                        {{ recipe_form.total_time|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3">
                        {{ recipe_form.servings|as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="mb-2">Choose Image</p>
                        {{ recipe_form.image }}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ recipe_form.image_credit | as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6">
                        <div id="cat-height">
                            {{ recipe_form.category | as_crispy_field}}
                        </div>
                        {{ new_category_form|crispy }}
                    </div>
                    <div class="col-12 col-md-6">
                        <div id="tag-height">
                            {{ recipe_form.tag | as_crispy_field }}
                        </div>
                        {{ new_tag_form.tagname | as_crispy_field }}
                    </div>
                </div>

                <p>Ingredients</p>
                {{ formset.management_form }}
                <div>
                    {% for form in formset %}
                    {{ form.id }}
                    <div class="row ingredients">
                        <div class="col-3 col-md-2">
                            {{ form.quantity|as_crispy_field }}
                        </div>
                        <div class="col-3 col-md-2">
                            {{ form.unit|as_crispy_field }}
                        </div>
                        <div class="col-6 col-md-4">
                            {{ form.preparation|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-4">
                            {{ form.name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row delete-button">
                        <div class="col">
                            <p>{{ form.DELETE }} Delete</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="row more-ingredients-row">
                    <div class="col-12">
                        <button id="add-ingredient-form" class="btn btn-green mb-3">Add more ingredients</button>
                    </div>
                </div>
                <div class="row recipe-directions">
                    <div class="col-12">
                        {{ recipe_form.directions|as_crispy_field}}
                    </div>
                </div>
                <label class="form-check-label" for="id-add-more-recipes">Add another recipe?</label>
                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-add-more-recipes" name="add-more-recipes">
                <div class="text-right">
                    <a class="btn btn-red" href="">Cancel</a>
                    <button class="btn btn-green" type="submit">Add Recipe</button>
                </div>
            </form>
        </div>
    </div>       
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('input[type="checkbox"]').css('filter', 'hue-rotate(300deg)');
        let catHeight = $('#cat-height').height();
            let style = {
                'height': `${catHeight}`,
                'overflow': 'auto',
                'margin-bottom': '16px'
            }
            $('#tag-height').css(style);
        $('#div_id_image_credit').css('display', 'none');
        $('.btn-file').children('input').addClass('new-image');
        $('.new-image').change(function() {
            let file = $('.new-image')[0].files[0];
            $('#filename').text(`Image will be set to ${file.name}`);
            $('#div_id_image_credit').css('display', 'block');
            $('label[for="id_image_credit"]').text('Image Credit*');
            $('input[name="image_credit"]').prop('required', true);
        })
    </script>
    <script>
        /*const imageForm = document.getElementsByClassName("image-form");
        const mainForm = document.querySelector("#pet_form");
        const addImageFormBtn = document.querySelector("#add-image-form");
        const submitFormBtn = document.querySelector('[type="submit"]');
        const totalForms = document.querySelector("#id_form-TOTAL_FORMS");

        let formCount = imageForm.length - 1;

        function updateForms() {
            let count = 0;
            for (let form of imageForm) {
                const formRegex = RegExp(`form-(\\d){1}-`, 'g');
                form.innerHTML = form.innerHTML.replace(formRegex, `form-${count++}-`)
            }
        }

        addImageFormBtn.addEventListener("click", function (event) {
            event.preventDefault();

            const newImageForm = imageForm[0].cloneNode(true);
            const formRegex = RegExp(`form-(\\d){1}-`, 'g');

            formCount++;

            newImageForm.innerHTML = newImageForm.innerHTML.replace(formRegex, `form-${formCount}-`);
            mainForm.insertBefore(newImageForm, submitFormBtn);
            totalForms.setAttribute('value', `${formCount + 1}`);
        });

        mainForm.addEventListener("click", function (event) {
            if (event.target.classList.contains("delete-image-form")) {
                event.preventDefault();
                event.target.parentElement.remove();
                formCount--;
                updateForms();
                totalForms.setAttribute('value', `${formCount + 1}`);
            }
        });*/
        let addButton = $('#add-ingredient-form');
        let ingredients = $('.ingredients');
        let deleteButton = $('.delete-button')
        let count = 0;
        ingredients.slice(5).toggle();
        deleteButton.slice(5).toggle();
        addButton.on('click', function() {
            event.preventDefault();

            count++;
            if (count == 1) {
                ingredients.slice(5, 10).toggle();
                deleteButton.slice(5, 10).toggle();
            }
            if (count == 2) {
                ingredients.slice(10, 15).toggle();
                deleteButton.slice(10, 15).toggle();
            }
            if (count == 3) {
                ingredients.slice(15, 20).toggle();
                deleteButton.slice(15, 20).toggle();
            }
            if (count == 4) {
                ingredients.slice(20, 25).toggle();
                deleteButton.slice(20, 25).toggle();
                addButton.toggle();
            }
        })

        // Dynamic form credit: https://engineertodeveloper.com/dynamic-formsets-with-django/
        /*const ingredientForm = document.getElementsByClassName("ingredient-form");
        const mainForm = document.querySelector("#main_form");
        const addIngredientFormBtn = document.querySelector("#add-ingredient-form");
        const recipeDirections = document.querySelector('.more-ingredients-row');
        const totalForms = document.querySelector("#id_ingredients-TOTAL_FORMS");

        let formCount = ingredientForm.length + 1;
        console.log(`first is ${formCount}`)

        function updateForms() {
            //let count = 0;
            let count = 3;
            console.log(count)
            for (let form of extraIngredientForm) {
                const formRegex = RegExp(`ingredients-(\\d){1}-`, 'g');
                form.innerHTML = form.innerHTML.replace(formRegex, `ingredients-${count++}-`)
            }
        }


        addIngredientFormBtn.addEventListener("click", function (event) {
            event.preventDefault();

            const newIngredientForm = ingredientForm[0].cloneNode(true);
            const formRegex = RegExp(`ingredients-(\\d){1}-`, 'g');

            formCount++;
            console.log(`second is ${formCount}`)

            newIngredientForm.innerHTML = newIngredientForm.innerHTML.replace(formRegex, `ingredients-${formCount}-`);
            mainForm.insertBefore(newIngredientForm, recipeDirections);
            totalForms.setAttribute('value', `${formCount + 1}`);
        });

        mainForm.addEventListener("click", function (event) {
            if (event.target.classList.contains("delete-image-form")) {
                event.preventDefault();
                event.target.parentElement.remove();
                formCount--;
                updateForms();
                totalForms.setAttribute('value', `${formCount + 1}`);
            }
        });*/
    </script>
{% endblock %}