{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'recipes/css/recipes.css' %}">
{% endblock %}

{% block extra_title %}
 | Add a Recipe
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container content mb-3">
    <!-- Page title row -->
    <div class="row">
        <div class="col-12 mt-3">
            <h2 class="font-weight-bold">Add A New Recipe</h2>
            <br>
        </div>
    </div>
        
    <!-- Main page content -->
    <div class="row">
        <div class="col-12">
            <form id="main_form" method="POST" action="{% url 'add_recipe' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-3">
                        {{ recipe_form.title|as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ recipe_form.intro|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        {{ recipe_form.prep_time|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3">
                        {{ recipe_form.cook_time|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3">
                        {{ recipe_form.total_time|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3">
                        {{ recipe_form.servings|as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="mb-2">Choose Image</p>
                        {{ recipe_form.image }}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ recipe_form.image_credit | as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6">
                        <div id="cat-height">
                            {{ recipe_form.category | as_crispy_field}}
                        </div>
                        {{ new_category_form|crispy }}
                    </div>
                    <div class="col-12 col-md-6">
                        <div id="tag-height">
                            {{ recipe_form.tag | as_crispy_field }}
                        </div>
                        {{ new_tag_form.tagname | as_crispy_field }}
                    </div>
                </div>

                <p>Ingredients</p>
                {{ formset.management_form }}
                <div>
                    {% for form in formset %}
                    {{ form.id }}
                    <div class="row ingredients">
                        <div class="col-3 col-md-2">
                            {{ form.quantity|as_crispy_field }}
                        </div>
                        <div class="col-3 col-md-2">
                            {{ form.unit|as_crispy_field }}
                        </div>
                        <div class="col-6 col-md-4">
                            {{ form.preparation|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-4">
                            {{ form.name|as_crispy_field }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="row more-ingredients-row">
                    <div class="col-12">
                        <button id="add-ingredient-form" class="btn btn-green mb-3">Add more ingredients</button>
                    </div>
                </div>
                <div class="row recipe-directions">
                    <div class="col-12">
                        {{ recipe_form.media}}
                        {{ recipe_form.directions|as_crispy_field}}
                    </div>
                </div>
                <label class="form-check-label" for="id-add-more-recipes">Add another recipe?</label>
                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-add-more-recipes" name="add-more-recipes">
                <div class="text-right">
                    <a class="btn btn-red" href="">Cancel</a>
                    <button class="btn btn-green" type="submit">Add Recipe</button>
                </div>
            </form>
        </div>
    </div>       
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'recipes/includes/checkbox_height.html' %}
    {% include 'recipes/includes/image_credit_add.html' %}
    {% include 'recipes/includes/new_ingredients_add.html' %}
    <script>
        // Change color of checkbox. Works in Chrome and Safari desktop
        $('input[type="checkbox"]').css('filter', 'hue-rotate(300deg)');
    </script>
    <script>
        // Ensure ingredient fields are required
        $('input[name="ingredients-0-quantity"]').prop('required', true);
        $('input[name="ingredients-0-unit"]').prop('required', true);
        $('input[name="ingredients-0-name"]').prop('required', true);
    </script>
{% endblock %}