{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}
 | Add a Recipe
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container content mb-2">
    <!-- Page title row -->
    <div class="row">
        <div class="col-12 mt-3">
            <h2 class="font-weight-bold">Add A New Recipe</h2>
            <br>
        </div>
    </div>
        
    <!-- Main page content -->
    <div class="row">
        <div class="col-12">
            <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-3">
                        {{ form.title|as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ form.intro|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        {{ form.prep_time|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3">
                        {{ form.cook_time|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3">
                        {{ form.total_time|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3">
                        {{ form.servings|as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="mb-2">Choose Image</p>
                        {{ form.image }}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ form.image_credit | as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.category | as_crispy_field }}
                        {{ new_category_form|crispy }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.tag | as_crispy_field }}
                        {{ new_tag_form.tagname | as_crispy_field }}
                    </div>
                </div>
                
                <p>Ingredients</p>
                {{ formset.management_form }}
                {% for form in formset %}
                <div class="row">
                    <div class="col-3 col-md-2">
                        {{ form.quantity|as_crispy_field }}
                    </div>
                    <div class="col-3 col-md-2">
                        {{ form.unit|as_crispy_field }}
                    </div>
                    <div class="col-6 col-md-4">
                        {{ form.preparation|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-4">
                        {{ form.name|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{ form.DELETE }} Delete</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">
                        {{ form.directions|as_crispy_field}}
                    </div>
                </div>
                <label class="form-check-label" for="id-add-more-recipes">Add another recipe?</label>
                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-add-more-recipes" name="add-more-recipes">
                <div class="text-right">
                    <a class="btn btn-red" href="">Cancel</a>
                    <button class="btn btn-green" type="submit">Add Recipe</button>
                </div>
            </form>
        </div>
    </div>       
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#div_id_image_credit').css('display', 'none');
        $('.btn-file').children('input').addClass('new-image');
        $('.new-image').change(function() {
            let file = $('.new-image')[0].files[0];
            $('#filename').text(`Image will be set to ${file.name}`);
            $('#div_id_image_credit').css('display', 'block');
            $('label[for="id_image_credit"]').text('Image Credit*');
            $('input[name="image_credit"]').prop('required', true);
        })
    </script>
{% endblock %}