{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'recipes/css/recipes.css' %}">
{% endblock %}

{% block extra_title %}
 | Edit {{ recipe.title }}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container content mb-3">
    <!-- Page title row -->
    <div class="row">
        <div class="col-12 mt-3">
            <h2 class="font-weight-bold">Edit your Recipe</h2>
            <h3 class="subtitle text-amber">You are editing "{{ recipe.title }}"</h3>
            <br>
        </div>
    </div>
        
    <!-- Main page content -->
    <div class="row">
        <div class="col-12">
            <form id="main_form" name="main_form" method="POST" action="{% url 'edit_recipe' recipe.id%}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-3">
                        {{ recipe_form.title|as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ recipe_form.intro|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        {{ recipe_form.prep_time|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3">
                        {{ recipe_form.cook_time|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3">
                        {{ recipe_form.total_time|as_crispy_field}}
                    </div>
                    <div class="col-6 col-md-3">
                        {{ recipe_form.servings|as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="mb-2">Choose Image</p>
                        {{ recipe_form.image }}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ recipe_form.image_credit | as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6">
                        <div id="cat-height">
                            {{ recipe_form.category | as_crispy_field}}
                        </div>
                        {{ new_category_form|crispy }}
                        <label class="form-check-label mb-2" for="id-add-more-cats">Add another category?</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-add-more-cats" name="add-more-cats">
                    </div>
                    <div class="col-12 col-md-6">
                        <div id="tag-height">
                            {{ recipe_form.tag | as_crispy_field }}
                        </div>
                        {{ new_tag_form.tagname | as_crispy_field }}
                        <label class="form-check-label mb-2" for="id-add-more-tags">Add another tag?</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-add-more-tags" name="add-more-tags">
                    </div>
                </div>

                <!-- Ingredients formset -->
                <p>Ingredients</p>
                <p class="ingredient-count" hidden>{{ ingredient_count }}</p>
                {{ formset.management_form }}
                <div class="ingredient-form">
                    {% for form in formset %}
                    {{ form.id }}
                    <div class="row ingredients">
                        <div class="col-3 col-md-2">
                            {{ form.quantity|as_crispy_field }}
                        </div>
                        <div class="col-3 col-md-2">
                            {{ form.unit|as_crispy_field }}
                        </div>
                        <div class="col-6 col-md-4">
                            {{ form.preparation|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-4">
                            {{ form.name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row delete-button">
                        <div class="col">
                            <p>{{ form.DELETE }} Delete</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="row more-ingredients-row">
                    <div class="col-12">
                        <button id="add-ingredient-form" class="btn btn-amber mb-3">Add more ingredients</button>
                    </div>
                </div>
                <div class="row recipe-directions">
                    <div class="col-12">
                        {{ recipe_form.media}}
                        {{ recipe_form.directions|as_crispy_field}}
                    </div>
                </div>
                <div class="ckeditor-message">
                    Please add how to make your recipe in the box above!
                </div>
                <div class="text-right">
                    <a class="btn btn-red" href="{% url 'all_recipes' %}">Cancel</a>
                    <button class="btn btn-amber" id="submit-form" type="submit">Update Recipe</button>
                </div>
            </form>
        </div>
    </div>       
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'recipes/includes/checkbox_height.html' %}
    {% include 'recipes/includes/image_credit_edit.html' %}
    {% include 'recipes/includes/new_ingredients_edit.html' %}
    {% include 'recipes/includes/ckeditor_validation.html' %}
    <script>
        // Change color of checkbox. Works in Chrome and Safari desktop
        $('input[type="checkbox"]').css('filter', 'hue-rotate(178deg)');
        // Editing is amber
        $('.btn-file').removeClass('btn-green').addClass('btn-amber');
    </script>
{% endblock %}