{% extends "base.html" %}
{% load static %}

{% block extra_title %}
 | {{ recipe.title|title }}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>

    <!-- Banner Image -->
    {% if recipe.image %}
        <img class="img-fluid header-image-container" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
    {% else %}
        <img class="img-fluid header-image-container" src="{{ MEDIA_URL }}recipes-and-deliveries-banner.jpg" alt="{{ recipe.title }}">
    {% endif %}

    <!-- Main page content -->
    <div class="container content mb-2">
        <!-- Main Page row -->
        <div class="row mt-3">
            <!-- Article col -->
            <div class="col-12 col-md-8">

                <!-- Post Title -->
                <h2 class="font-weight-bold title">{{ recipe.title|title }}</h2>

                <!-- Categories -->
                {% if recipe.category %}
                    <p class="category-list small mt-1 mb-0"><i class="bi bi-tags text-muted mr-1"></i>
                        {% for cat in recipe.category.all %}
                        <a class="text-muted text-green font-weight-bold" href="{% url 'all_recipes' %}?category={{ cat.name }}">
                            {{ cat.friendly_name|title }}
                        </a><span class="category-link-divider">|</span>
                        {% empty %}
                            <small class="text-muted">No categories</small>
                        {% endfor %}
                    </p>
                {% endif %}

                <!-- Tags -->
                {% if recipe.tag %}
                    <p class="tag-list small mt-1 mb-0"><i class="bi bi-tags-fill text-muted mr-1"></i>
                        {% for t in recipe.tag.all %}
                        <a class="text-muted text-amber font-weight-bold" href="{% url 'all_recipes' %}?tag={{ t.tagname }}">
                            {{ t.tagname|title }}
                        </a><span class="tag-link-divider">|</span>
                        {% empty %}
                            <small class="text-muted">No tags</small>
                        {% endfor %}
                    </p>
                {% endif %}

                
                
                <!-- Author & editing -->
                <div class="mb-3">
                    <!-- Post Author -->
                    {% if recipe.author.is_superuser %}
                        <small class="text-muted author">Posted by: 
                            <a class="text-muted text-green font-weight-bold" 
                                href="{% url 'all_recipes' %}?author={{ recipe.author }}">
                            <strong>Recipes</strong><i>and</i><strong>Deliveries</strong>
                            </a> on {{ recipe.date_posted|date:"jS F, Y" }}
                        </small>
                    {% else %}
                        <small class="text-muted author">Posted by: 
                            <a class="text-muted text-green font-weight-bold" 
                                href="{% url 'all_recipes' %}?author={{ recipe.author }}">
                                {{ recipe.author }}
                            </a> on {{ recipe.date_posted|date:"jS F, Y" }}
                        </small>
                    {% endif %}
                    <!-- Editing and deleting -->
                    {% if request.user.is_superuser or request.user.id is recipe.author.id %}
                        <div class="edit-delete">
                            <small>
                                <!-- Superuser sees instantly whether superuser created post or whether post was user created
                                Superuser created posts = author edit color,
                                user created posts = primary color (matching color of product management) -->
                                <a {% if request.user.id is recipe.author.id %}class="text-amber"{% else %} class="text-primary"{% endif %} href="{% url 'edit_recipe' recipe.id %}">Edit</a> |
                                <a class="text-danger" href="{% url 'delete_recipe' recipe.id %}">Delete</a>
                            </small>
                        </div>
                    {% endif %}
                </div>
                
                <p class="mb-3">{{ recipe.intro }}</p>

                {% if request.user.is_authenticated %}
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <p class="mb-0">Servings:</p>
                            <p>{{ recipe.servings }}</p>
                        </div>
                        <div class="col-6 col-md-3">
                            <p class="mb-0">Prep time:</p>
                            <p>{{ recipe.prep_time }}</p>
                        </div>
                        <div class="col-6 col-md-3">
                            <p class="mb-0">Cook time:</p>
                                {% if recipe.cook_time %}
                                    <p>{{ recipe.cook_time }}</p>
                                {% else %}
                                    <p>None req'd</p>
                                {% endif %}
                        </div>
                        <div class="col-6 col-md-3">
                            <p class="mb-0">Total time:</p>
                            <p>{{ recipe.total_time }}</p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h3 class=="subtitle">Ingredients</h3>
                        {% for i in recipe.ingredients.all %}
                            <p class="ingredient mb-0"><span class="qty">{{ i.get_quantity }}</span> {{ i.unit }} {{i.preparation }} {{ i.name }}</p>
                        {% endfor %}
                    </div>

                    <div class="mb-3">
                        <h3 class=="subtitle">Directions</h3>
                        {{ recipe.directions|linebreaks }}
                    </div>
                {% else %}
                    <p>We'd love to show you the whole recipe but you need to <a class="text-green" href="{% url 'account_signup' %}">register</a> or <a class="text-green" href="{% url 'account_login' %}">log in</a> first.</p>
                {% endif %}
                <!-- Image credit -->
                {% if recipe.image_credit %}
                    <p class="text-muted image-credit"><small><i class="far fa-image mr-1"></i> Image: {{ recipe.image_credit }}</small></p>
                {% endif %}

                <!-- Last edited -->
                {% if recipe.date_edited %}
                    <p class="text-muted post-edited"><small> Edited: {{ recipe.date_edited|date:"jS F, Y @ g:i a" }}</small></p>
                {% endif %}
            </div>

            <!-- Similar articles -->
            <div class="col-12 col-md-4">
                <h3 class="font-weight-bold similar-articles">More Recipes</h3>
                <div class="row">
                    {% for recipe in other_recipes %}
                    <div class="col-12">
                        <div class="card h-100 border-0">

                            <!-- Image -->
                            {% if recipe.image %}
                                <a href="{% url 'recipe' recipe.id %}">
                                    <img class="card-img-top img-fluid card-image" src="{{ recipe.image.url }}"
                                        alt="{{ recipe.title }}">
                                </a>
                            {% else %}
                                <a href="{% url 'recipe' recipe.id %}">
                                    <img class="card-img-top img-fluid card-image"
                                        src="{{ MEDIA_URL }}recipes-and-deliveries-banner.jpg" alt="{{ recipe.title }}">
                                </a>
                            {% endif %}

                            <!-- Post Title -->
                            <div class="card-body pb-0">
                                <h3 class="mb-0 font-weight-bold title-name">{{ recipe.title|title }}</h3>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">

                                        <!-- Tagline -->
                                        <p class="mb-0 text-left text-black tagline">{{ recipe.intro }}</p>

                                        <!-- Categories -->
                                        {% if recipe.category %}
                                            <p class="category-list small mt-1 mb-0"><i class="bi bi-tags text-muted mr-1"></i>
                                                {% for cat in recipe.category.all %}
                                                <a class="text-muted text-green font-weight-bold"
                                                    href="{% url 'all_recipes' %}?category={{ cat.name }}">
                                                    {{ cat.friendly_name|title }}
                                                </a><span class="category-link-divider">|</span>
                                                {% empty %}
                                                    <small class="text-muted">No categories</small>
                                                {% endfor %}
                                            </p>
                                        {% endif %}

                                        <!-- Tags -->
                                        {% if recipe.tag %}
                                            <p class="tag-list small mt-1 mb-0"><i class="bi bi-tags-fill text-muted mr-1"></i>
                                                {% for t in recipe.tag.all %}
                                                <a class="text-muted text-amber font-weight-bold"
                                                    href="{% url 'all_recipes' %}?tag={{ t.tagname }}">
                                                    {{ t.tagname|title }}
                                                </a><span class="tag-link-divider">|</span>
                                                {% empty %}
                                                    <small class="text-muted">No tags</small>
                                                {% endfor %}
                                            </p>
                                        {% endif %}

                                        <!-- Post author -->
                                        {% if recipe.author.is_superuser %}
                                            <small class="text-muted author">Posted by:
                                                <a class="text-muted text-green"
                                                    href="{% url 'all_recipes' %}?author={{ recipe.author }}">
                                                    <strong>Recipes</strong><i>and</i><strong>Deliveries</strong></small>
                                            </a>
                                        {% else %}
                                            <small class="text-muted author">Posted by:
                                                <a class="text-muted text-green font-weight-bold"
                                                    href="{% url 'all_recipes' %}?author={{ recipe.author }}">
                                                    {{ recipe.author }}
                                                </a>
                                            </small>
                                        {% endif %}

                                        <!-- Editing and deleting -->
                                        {% if request.user.is_superuser or request.user.id is recipe.author.id %}
                                            <div class="edit-delete">
                                                <small>
                                                    <!-- Superuser sees instantly whether superuser created post or whether post was user created
                                                    Superuser created posts = author edit color,
                                                    user created posts = primary color (matching color of product management) -->
                                                    <a {% if request.user.id is recipe.author.id %}class="text-amber"{% else %} class="text-primary"{% endif %} href="{% url 'edit_recipe' recipe.id %}">Edit</a> |
                                                    <a class="text-danger" href="{% url 'delete_recipe' recipe.id %}">Delete</a>
                                                </small>
                                            </div>
                                        {% endif %}
                                        
                                        <!-- Date posted -->
                                        <div class="post-date">
                                            <small>{{ recipe.date_posted|date:"jS F, Y" }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-5">
                        <hr>
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                        <hr>
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                        <hr>
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-5">
                        <hr>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('.ingredient').each(function() {
            $( this ).text().replace( '0', 'x' );
        });
    </script>
{% endblock %}