html {
    height: 100%;
}

body {
    /* Photo by Elle Hughes from Pexels
    https://www.pexels.com/photo/flatlay-photography-of-strawberries-and-sliced-bread-1660030/ */
    background: url('/media/recipes-and-deliveries-banner.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    /*height: calc(100vh - 164px);*/
    color: black;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    /*min-height: 100%;*/
    /*min-height: calc(100vh - 200px);*/
    /*padding-bottom: -80px;*/
  }

.footer {
    flex-shrink: 0;
    /*padding-bottom: 80px;*/
}

.site-title {
    font-size: 1.8rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Great Vibes', sans-serif;
}

.main-logo-link {
    width: fit-content;
}

.title-name,
.product-name {
    font-size: 1rem;
}

.similar-articles,
.order {
    font-size: 2rem
}

.shop-now-button {
    background: #4caf50;
    color: white;
    min-width: 48%;
}

.info-button {
    min-width: 48%;
}

/*.btn-black {
    background: black;
    color: white;
}*/

.btn-green {
    background: #4caf50;
    color: white;
}

.btn-amber {
    background: #ff6f00;
    color: white
}

.btn-red {
    background: #d9534f;
    color: white;
}

.btn-info {
    background: #0374fb;
    color:white;
    border: 1px solid #0374fb;
}

.btn-info:hover,
.btn-info:active,
.btn-info:focus {
    background: white;
    color: #0374fb;
    border: 1px solid #0374fb;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: white;
    color: #4caf50;
    border: 1px solid #4caf50;
}

.btn-amber:hover,
.btn-amber:active,
.btn-amber:focus {
    background: white;
    color: #ff6f00;
    border: 1px solid #ff6f00;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: white;
    color: #d9534f;
    border: 1px solid #d9534f;
}

.text-black {
    color: #000 !important;
}

/*.border-black {
    border: 1px solid black !important;
}*/

.text-green {
    color: #4caf50 !important;
}

.border-green {
    border: 1px solid #4caf50 !important;
}

.bg-green {
    background: #4caf50 !important
}

.text-white {
    color: white !important;
}

.text-amber {
    color: #ff6f00 !important;
}

.border-amber {
    border: 1px solid #ff6f00 !important;
}

.bg-amber {
    background: #ff6f00 !important
}

.bg-info {
    background: #0374fb !important;
}

.text-red {
    color: #d9534f !important
}

.bg-white {
    background-color: white !important;
}

.collapse-card {
    border: 1px solid #ff6f00 !important;
}

.card-header {
    background-color: rgba(239,108,47,0.5)!important;
    font-size: 1.25rem;
}

.overlay {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    top: 0;
    left: auto;
    position: fixed;
    background: white;
    z-index: -1;
}

.header-image-container {
    height: 500px;
    min-width: 100%;
    object-fit: cover;
}

.all-products-container,
.bag-products-container {
    bottom: 10px;
}

.product-details-container,
.product-box-container,
.product-order-container,
.shopping-details-container {
    border-radius: calc(.25rem - 1px);
}

.image-credit {
    overflow-wrap: break-word;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    z-index: 100;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.card-image {
    height: 200px;
    min-width: 100%;
    object-fit: cover;
}

.product-image {
    height: 400px;
    min-width: 100%;
    object-fit: cover;
}

/* -------------------------------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #0374fb !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #4caf50 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #0374fb !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.arrow-amber {
    border-bottom-color: #ff6f00 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-block-checkout-bottom {
    margin-top: 0 !important;
    border-bottom-left-radius: .25rem!important;
    border-bottom-right-radius: .25rem!important;
}
.btn-block-checkout-top {
    border-top-left-radius: .25rem!important;
    border-top-right-radius: .25rem!important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    /*color: #6c757d; /* text-secondary */
    color: black;
}

.allauth-form-inner-content input {
    /*border-color: #000;*/
    border-color: #4caf50;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #4caf50;
    border: 1px solid #4caf50;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {    
    color: #4caf50;
    background-color: white;
    border-color: #4caf50;
}

/*.allauth-form-inner-content a {
    color: #4caf50; /* text-info *
}*/
.allauth-form-inner-content a:not(.btn-green) {
    color: #4caf50;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    /*border-radius: 0;*/
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    /*border-radius: 0;*/
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    #delivery-banner h2 {
        font-size: 1.5rem !important;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
        /*padding-top: 92px;*/
    }

    .header-image-container {
        /*padding-top: 116px;*/
        /*padding-top: 92px;*/
        position:relative;
        top: -23px;
    }

    body {
        height: calc(100vh - 116px);
    }

    /*.display-4.logo-font.text-black {
        font-size: 2rem;
    }*/

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h2 {
        font-size: .9rem !important;
    }

    .product-button {
        padding: .375rem .375rem;
    }

    /*.btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }*/

    .bag-button {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media (min-width: 768px) {
    .border-med-right {
        border-right: 1px solid #ff6f00;
    }

    .border-med-left {
        border-left: 1px solid #ff6f00;
        margin-left: -1px;
        padding-left: 16px;
    }
}

@media (max-width: 770px) {
    .slogan {
        max-width: 330px;
    }
}

@media (max-width: 449px) {
    .body-site-title {
        font-size: 1.5rem;
    }

    .slogan {
        max-width: 230px;
    }
}
