<footer class="bg-green pt-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-4 text-center">
                <h4 class="text-white small"><strong>Recipes</strong><i>and</i><strong>Deliveries</strong> Recipe Boxes</h4>
                <p class="mb-0"><a class="text-white small" href="{% url 'products' %}">The Recipes</a></p>
                <p class="mb-3 mt-0"><a class="text-white small" href="{% url 'guarantee'%}">The Guarantee</a></p>
            </div>
            <div class="col-6 col-md-4 text-center">
                <h4 class="text-white small"><strong>Recipes</strong><i>and</i><strong>Deliveries</strong> Community</h4>
                <p class="mb-0"><a class="text-white small" href="#">The Recipes</a></p>
                <p class="mb-3 mt-0"><a class="text-white small" href="#">The Guarantee</a></p>
            </div>
            <div class="col-md-4 text-center">
                <h4 class="text-white small"><strong>Recipes</strong><i>and</i><strong>Deliveries</strong> Social & Contact</h4>
                <p class="mb-0"><a class="text-white small" href="#">The Recipes</a></p>
                <p class="mb-3 mt-0"><a class="text-white small" href="#">The Guarantee</a></p>
            </div>
            <div class="col-12 footer-copyright w-100 text-center">
                <p class="mb-0"><a class="text-muted small" href="https://pngtree.com/so/food">iOS/Android icon from pngtree.com</a></p>
                <p class="mb-0 mt-0"><a class="text-muted small" href="https://www.pexels.com/photo/flatlay-photography-of-strawberries-and-sliced-bread-1660030/">Main Site Banner Cover Photo by Elle Hughes from Pexels</a></p>
                <!-- From Code Institute Thorin project -->
                <p class="mb-3 copyright text-white small">Copyright &copy; <strong>Recipes</strong><i>and</i><strong>Deliveries</strong> <span id="copyright"></span></p>
            </div>
        </div>
    </div>
</footer>
