<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Recipe Boxes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=sku&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Recipe Boxes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Region
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=asian" class="dropdown-item">Asian</a>
                <a href="{% url 'products' %}?category=european" class="dropdown-item">European</a>
                <a href="{% url 'products' %}?category=maghreb_african" class="dropdown-item">Maghreb &amp: African</a>
                <a href="{% url 'products' %}?category=north_american" class="dropdown-item">North American</a>
                <a href="{% url 'products' %}?category=south_american" class="dropdown-item">South American</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Regions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Style
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=vegetarian" class="dropdown-item">Vegetarian</a>
                <a href="{% url 'products' %}?category=vegan" class="dropdown-item">Vegan</a>
                <a href="{% url 'products' %}?category=gluten_free" class="dropdown-item">Gluten Free</a>
                <a href="{% url 'products' %}?category=unrestricted" class="dropdown-item">Unrestricted</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Styles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Meal
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=breakfast" class="dropdown-item">Breakfast</a>
                <a href="{% url 'products' %}?category=lunch" class="dropdown-item">Lunch</a>
                <a href="{% url 'products' %}?category=dinner" class="dropdown-item">Dinner</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Meals</a>
            </div>
        </li>
    </ul>
</div>