{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block extra_title %}
 | Add an Article
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container content mb-3">
    <!-- Page title row -->
    <div class="row">
        <div class="col-12 mt-3">
            <h2 class="font-weight-bold">Add A New Blog Article</h2>
            <br>
        </div>
    </div>
        
    <!-- Main page content -->
    <div class="row">
        <div class="col-12">
            <form name="post-form" method="POST" action="{% url 'add_post' %}" id="post-form" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-3">
                        {{ posts_form.title | as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ posts_form.tagline | as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-6">
                        <div id="cat-height">
                            {{ posts_form.category | as_crispy_field }}
                        </div>
                        {{ new_category_form|crispy }}
                    </div>
                    <div class="col-12 col-md-6">
                        <div id="tag-height">
                            {{ posts_form.tag | as_crispy_field }}
                        </div>
                        {{ new_tag_form.tagname | as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="mb-2">Choose Image</p>
                        {{ posts_form.image }}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ posts_form.image_credit | as_crispy_field }}
                    </div>
                    <div class="col-12">
                        {{ posts_form.media }}
                        {{ posts_form.content | as_crispy_field }}
                    </div>
                </div>
                <label class="form-check-label" for="id-add-more-posts">Add another article?</label>
                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-add-more-posts" name="add-more-posts">
                <div class="ckeditor-message">
                    Please add your article in the box above!
                </div>
                <div class="text-right">
                    <a class="btn btn-red" href="{% url 'blog-articles' %}">Cancel</a>
                    <button class="btn btn-green" type="submit">Add Blog Article</button>
                </div>
            </form>
        </div>
    </div>       
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'blog/includes/checkbox_height.html' %}
    {% include 'blog/includes/image_credit_add.html' %}
    {% include 'blog/includes/ckeditor_validation.html' %}
    <script>
        // Color checkbox
        $('input[type="checkbox"]').css('filter', 'hue-rotate(300deg)');
    </script>
{% endblock %}

