{% extends "base.html" %}
{% load static %}

{% block extra_title %}
 | {{ post.title|title }}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <!-- Banner Image -->
    {% if post.image %}
        <img class="img-fluid header-image-container" src="{{ post.image.url }}" alt="{{ post.title }}">
    {% else %}
        <img class="img-fluid header-image-container" src="{{ MEDIA_URL }}recipes-and-deliveries-banner.jpg" alt="{{ post.title }}">
    {% endif %}

    <!-- Main page content -->
    <div class="container content mb-0 mb-md-3">
        <!-- Main Page row -->
        <div class="row mt-3">

            <!-- Main Article -->
            <div class="col-12 col-md-8">

                <!-- Post Title -->
                <h2 class="font-weight-bold title">{{ post.title|title }}</h2>

                <!-- Categories -->
                {% if post.category %}
                    <p class="category-list small mt-1 mb-0"><i class="bi bi-tags text-muted mr-1"></i>
                        {% for cat in post.category.all %}
                        <a class="text-muted text-green font-weight-bold" href="{% url 'blog-articles' %}?category={{ cat.name }}">
                            {{ cat.friendly_name|title }}
                        </a><span class="category-link-divider">|</span>
                        {% empty %}
                            <small class="text-muted">No categories</small>
                        {% endfor %}
                    </p>
                {% endif %}

                <!-- Tags -->
                {% if post.tag %}
                    <p class="tag-list small mt-1 mb-0"><i class="bi bi-tags-fill text-muted mr-1"></i>
                        {% for tag in post.tag.all %}
                        <a class="text-muted text-amber font-weight-bold" href="{% url 'blog-articles' %}?tag={{ tag.tagname }}">
                            {{ tag.tagname|title }}
                        </a><span class="tag-link-divider">|</span>
                        {% empty %}
                            <small class="text-muted">No tags</small>
                        {% endfor %}
                    </p>
                {% endif %}

                <!-- Author & editing -->
                <div class="mb-3">

                    <!-- Post Author -->
                    {% if post.author.is_superuser %}
                        <small class="text-muted author">Posted by: 
                            <a class="text-muted text-green font-weight-bold" href="{% url 'blog-articles' %}?author={{ post.author }}">
                            <strong>Recipes</strong><i>and</i><strong>Deliveries</strong>
                            </a> on {{ post.date_posted|date:"jS F, Y" }}
                        </small>
                    {% else %}
                        <small class="text-muted author">Posted by: 
                            <a class="text-muted text-green font-weight-bold" href="{% url 'blog-articles' %}?author={{ post.author }}">
                                {{ post.author }}
                            </a> on {{ post.date_posted|date:"jS F, Y" }}
                        </small>
                    {% endif %}

                    <!-- Editing and deleting -->
                    {% if request.user.is_superuser or request.user.id is post.author.id %}
                        <div class="edit-delete">
                            <small>
                                <!-- Superuser sees instantly whether superuser created post or whether post was user created
                                Superuser created posts = author edit color,
                                user created posts = primary color (matching color of product management) -->
                                <a {% if request.user.id is post.author.id %}class="text-amber"{% else %} class="text-primary"{% endif %} href="{% url 'edit_post' post.id %}">Edit</a> |
                                <a class="text-danger" href="{% url 'delete_post' post.id %}">Delete</a>
                            </small>
                        </div>
                    {% endif %}
                </div>

                <!-- Post content -->
                <div class="row">
                    <div class="col-12 post-content"> 
                        {{ post.content|safe}}
                    </div>
                </div>

                <!-- Comments -->
                <h3 class="subtitle">Comments:</h3>
                {% if post.comments.all %}
                    {% for comment in post.comments.all %}
                        <p class="small font-weight-bold mb-0"><span class="commenters-name">{{ comment.name|safe }}</span> - {{ comment.date_added }}</p>
                        {{ comment.body|linebreaks }}
                        <hr>
                    {% endfor%}
                    {% if request.user.is_authenticated %}
                        <button class="comment-button btn btn-green mb-2">Add a comment</button>
                    {% else %}
                        <p>Want to add a comment? <a class="text-green" href="{% url 'account_signup' %}">Register</a> or <a class="text-green" href="{% url 'account_login' %}?next={{request.path}}">log in</a> first.</p>
                    {% endif %}
                {% else %}
                    {% if request.user.is_authenticated %}
                        <button class="comment-button btn btn-green mb-2">Be the first to comment</button>
                    {% else %}
                        <p>Want to add a comment? <a class="text-green" href="{% url 'account_signup' %}">Register</a> or <a class="text-green" href="{% url 'account_login' %}?next={{request.path}}">log in</a> first.</p>
                    {% endif %}
                {% endif %}

                <!-- Comment form -->
                <div class="comment-block" style="display:none">
                    <form method="POST" action="{% url 'article' post.id %}" id="comment-form" class="form mb-2">
                        {% csrf_token %}
                        {{ comment_form|crispy}}
                        <div class="text-right">
                            <a class="btn btn-red" href="">Cancel</a>
                            <button class="btn btn-green" type="submit">Add</button>
                        </div>
                    </form>
                </div>

                <!-- Image credit -->
                {% if post.image_credit %}
                    <p class="text-muted image-credit mt-3"><small>Image: {{ post.image_credit }}</small></p>
                {% endif %}

                <!-- Last edited -->
                {% if post.date_edited %}
                    <p class="text-muted post-edited"><small> Edited: {{ post.date_edited|date:"jS F, Y @ g:i a" }}</small></p>
                {% endif %}
            </div>

            <!-- Other articles -->
            <div class="col-12 col-md-4 more-articles">
                <h3 class="font-weight-bold similar-articles mt-5 mt-md-0">More Articles</h3>
                <div class="row mb-3">
                    {% for other_post in other_posts|slice:"3" %}
                    <div class="col-12">
                        <div class="card h-100 border-0">

                            <!-- Image -->
                            {% if other_post.image %}
                                <a href="{% url 'article' other_post.id %}">
                                    <img class="card-img-top img-fluid card-image" src="{{ other_post.image.url }}"
                                        alt="{{ other_post.title }}">
                                </a>
                            {% else %}
                                <a href="{% url 'article' other_post.id %}">
                                    <img class="card-img-top img-fluid card-image"
                                        src="{{ MEDIA_URL }}recipes-and-deliveries-banner.jpg" alt="{{ other_post.title }}">
                                </a>
                            {% endif %}

                            <!-- Post Title -->
                            <div class="card-body pb-0">
                                <h3 class="mb-0 font-weight-bold title-name">{{ other_post.title|title }}</h3>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">

                                        <!-- Tagline -->
                                        <p class="mb-0 text-left text-black tagline">{{ other_post.tagline }}</p>

                                        <!-- Categories -->
                                        {% if other_post.category %}
                                            <p class="category-list small mt-1 mb-0"><i class="bi bi-tags text-muted mr-1"></i>
                                                {% for cat in other_post.category.all %}
                                                <a class="text-muted text-green font-weight-bold"
                                                    href="{% url 'blog-articles' %}?category={{ cat.name }}">
                                                    {{ cat.friendly_name|title }}
                                                </a><span class="category-link-divider">|</span>
                                                {% empty %}
                                                    <small class="text-muted">No categories</small>
                                                {% endfor %}
                                            </p>
                                        {% endif %}

                                        <!-- Tags -->
                                        {% if other_post.tag %}
                                            <p class="tag-list small mt-1 mb-0"><i class="bi bi-tags-fill text-muted mr-1"></i>
                                                {% for t in other_post.tag.all %}
                                                <a class="text-muted text-amber font-weight-bold"
                                                    href="{% url 'blog-articles' %}?tag={{ t.tagname }}">
                                                    {{ t.tagname|title }}
                                                </a><span class="tag-link-divider">|</span>
                                                {% empty %}
                                                    <small class="text-muted">No tags</small>
                                                {% endfor %}
                                            </p>
                                        {% endif %}

                                        <!-- Post author -->
                                        {% if other_post.author.is_superuser %}
                                            <small class="text-muted author">Posted by:
                                                <a class="text-muted text-green"
                                                    href="{% url 'blog-articles' %}?author={{ other_post.author }}">
                                                    <strong>Recipes</strong><i>and</i><strong>Deliveries</strong>
                                                </a>
                                            </small>
                                        {% else %}
                                            <small class="text-muted author">Posted by:
                                                <a class="text-muted text-green font-weight-bold"
                                                    href="{% url 'blog-articles' %}?author={{ other_post.author }}">
                                                    {{ other_post.author }}
                                                </a>
                                            </small>
                                        {% endif %}

                                        <!-- Editing and deleting -->
                                        {% if request.user.is_superuser or request.user.id is other_post.author.id %}
                                            <div class="edit-delete">
                                                <small>
                                                    <!-- Superuser sees instantly whether superuser created post or whether post was user created
                                                    Superuser created posts = author edit color,
                                                    user created posts = primary color (matching color of product management) -->
                                                    <a {% if request.user.id is other_post.author.id %}class="text-amber"{% else %} class="text-primary"{% endif %} href="{% url 'edit_post' other_post.id %}">Edit</a> |
                                                    <a class="text-danger" href="{% url 'delete_post' other_post.id %}">Delete</a>
                                                </small>
                                            </div>
                                        {% endif %}
                                        
                                        <!-- Date posted -->
                                        <div class="post-date">
                                            <small>{{ other_post.date_posted|date:"jS F, Y" }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'blog/includes/blog_and_comment.html' %}
    <script>
        $('.commenters-name').each(function() {
            if ($(this).text() == 'recipesanddeliveries') {
                $(this).text('').html('Recipes<i class="font-weight-normal">and</i>Deliveries')
            }
        });
    </script>
{% endblock %}