{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block extra_title %}
 | Edit {{ post.title }}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container content mb-3">
    <!-- Page title row -->
    <div class="row">
        <div class="col-12 mt-3">
            <h2 class="font-weight-bold">Edit your Article</h2>
            <h3 class="subtitle text-amber">You are editing "{{ post.title }}"</h3>
            <br>
        </div>
    </div>
        
    <!-- Main page content -->
    <div class="row">
        <div class="col-12">
            <form method="POST" action="{% url 'edit_post' post.id %}" id="post-form" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-3">
                        {{ posts_form.title | as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ posts_form.tagline | as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-6">
                        <div id="cat-height">
                            {{ posts_form.category | as_crispy_field}}
                        </div>
                        {{ new_category_form|crispy }}
                        <label class="form-check-label mb-2" for="id-add-more-cats">Add another category?</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-add-more-cats" name="add-more-cats">
                    </div>
                    <div class="col-12 col-md-6">
                        <div id="tag-height">
                        {{ posts_form.tag | as_crispy_field }}</div>
                        {{ new_tag_form.tagname | as_crispy_field }}
                        <label class="form-check-label mb-2" for="id-add-more-tags">Add another tag?</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-add-more-tags" name="add-more-tags">
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="mb-2">Choose Image</p>
                        {{ posts_form.image }}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ posts_form.image_credit | as_crispy_field }}
                    </div>
                    <div class="col-12">
                        {{ posts_form.media }}
                        {{ posts_form.content | as_crispy_field }}
                    </div>
                </div>
                <div class="text-right">
                    <a class="btn btn-red" href="{% url 'blog-articles' %}">Cancel</a>
                    <button class="btn btn-amber" type="submit">Update Article</button>
                </div>
            </form>
        </div>
    </div>       
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'blog/includes/checkbox_height.html' %}
    {% include 'blog/includes/image_credit_edit.html' %}
    <script>
        // Color checkbox
        $('input[type="checkbox"]').css('filter', 'hue-rotate(178deg)');
        // Amber buttons denote editing
        $('.btn-file').removeClass('btn-green').addClass('btn-amber');
    </script>
{% endblock %}

