<script>
    // Deals with adding new ingredients when editing
    // Shows all ingredients and increases adding by 5 until 25 ingredients
    let addButton = $('#add-ingredient-form');
    let ingredients = $('.ingredients');
    let deleteButton = $('.delete-button');
    let ingredientCount = $('.ingredient-count').text();
    let ingredientTotal = parseInt(ingredientCount);
    let ingredientCountPlusFive = ingredientTotal + 5;
    let ingredientCountPlusTen = ingredientTotal + 10;
    let ingredientCountPlusFifteen = ingredientTotal + 15;
    let ingredientCountPlusTwenty = ingredientTotal + 20;
    let ingredientCountPlusTwentyFive = ingredientTotal + 25;
    let count = 0;
    ingredients.slice(ingredientTotal).toggle();
    deleteButton.slice(ingredientTotal).toggle();
    addButton.on('click', function() {
        event.preventDefault();

        count++;
        if (count == 1) {
            ingredients.slice(ingredientTotal, ingredientCountPlusFive).toggle();
            deleteButton.slice(ingredientTotal, ingredientCountPlusFive).toggle();
            if (ingredientCountPlusFive >= 25) {
                ingredients.slice(25).hide();
                deleteButton.slice(25).hide();
                addButton.toggle();
            }
        }
        if (count == 2) {
            ingredients.slice(ingredientCountPlusFive, ingredientCountPlusTen).toggle();
            deleteButton.slice(ingredientCountPlusFive, ingredientCountPlusTen).toggle();
            if (ingredientCountPlusTen >= 25) {
                ingredients.slice(25).hide();
                deleteButton.slice(25).hide();
                addButton.toggle();
            }
        }
        if (count == 3) {
            ingredients.slice(ingredientCountPlusTen, ingredientCountPlusFifteen).toggle();
            deleteButton.slice(ingredientCountPlusTen, ingredientCountPlusFifteen).toggle();
            if (ingredientCountPlusFifteen >= 25) {
                ingredients.slice(25).hide();
                deleteButton.slice(25).hide();
                addButton.toggle();
            }
        }
        if (count == 4) {
            ingredients.slice(ingredientCountPlusFifteen, ingredientCountPlusTwenty).toggle();
            deleteButton.slice(ingredientCountPlusFifteen, ingredientCountPlusTwenty).toggle();
            if (ingredientCountPlusTwenty >= 25) {
                ingredients.slice(25).hide();
                deleteButton.slice(25).hide();
                addButton.toggle();
            }
        }
        if (count == 5) {
            ingredients.slice(ingredientCountPlusTwenty, ingredientCountPlusTwentyFive).toggle();
            deleteButton.slice(ingredientCountPlusTwenty, ingredientCountPlusTwentyFive).toggle();
            if (ingredientCountPlusTwentyFive >= 25) {
                ingredients.slice(25).hide();
                deleteButton.slice(25).hide();
                addButton.toggle();
            }
        }    
    })
</script>